### Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

###
volumes/db/data
volumes/storage
volumes/snippets
volumes/functions/**
!volumes/functions/main/
volumes/functions/main/**
!volumes/functions/main/index.ts
.env
test.http
docker-compose.override.yml
.supabase-version
backups
supabase/
