[Unit]
Description=Code Server container service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
# Image=docker.io/codercom/code-server:latest
Image=docker.cnb.cool/honbey/cnb-dev-env:latest

ContainerName=code-server

Exec=--auth=none \
     --link-protection-trusted-domains=*.freewisdom.cn \
     --proxy-domain=code-{{port}}.freewisdom.cn:33

#StopSignal=SIGINT
StopTimeout=10

EnvironmentFile=%h/.config/containers/systemd/code-server.env

Tmpfs=/tmp:rw,size=1g,mode=1777
# caches or unimportant files in HDD
Volume=/opt/data/cache/code-server/share:/share:Z
Volume=/opt/data/cache/code-server/tmp-data:/tmp-data:Z
Volume=/opt/data/cache/code-server/cache:/root/.cache:Z
Volume=/opt/data/cache/code-server/cache-linuxbrew:/home/linuxbrew/.cache:Z
Volume=/opt/data/cache/code-server/npm:/root/.npm:Z
# entrypointd and data
Volume=./code-server.conf.d/entrypointd/:/entrypoint.d:Z
Volume=code-server_data.volume:/root:Z

PublishPort=127.0.0.1:1040:8686

Network=10_26_0_1.network:ip=10.26.10.40

# Memory=12G
PodmanArgs=--cpus=6
PodmanArgs=--memory=12g
PodmanArgs=--memory-reservation=128m

LogDriver=journald

HealthCmd=curl -fsS http://localhost:8686/healthz
HealthStartPeriod=10s
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
