TZ=Asia/Shanghai

GF_PATHS_PROVISIONING=/etc/grafana/provisioning
GF_AUTH_ANONYMOUS_ENABLED=false
#GF_AUTH_ANONYMOUS_ORG_ROLE=${GF_AUTH_ANONYMOUS_ORG_ROLE:-Admin}

GF_ANALYTICS_CHECK_FOR_UPDATES=false
GF_ANALYTICS_CHECK_FOR_PLUGIN_UPDATES=false
GF_NEWS_NEWS_FEED_ENABLED=false
#GF_PLUGINS_PLUGIN_ADMIN_EXTERNAL_MANAGE_ENABLED=false

GF_ANALYTICS_REPORTING_ENABLED=false
