[Unit]
Description=Grafana container service

After=loki.service
Requires=loki.service

StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/grafana/grafana:13.2-slim

ContainerName=grafana

StopSignal=SIGINT
StopTimeout=10

EnvironmentFile=%h/.config/containers/systemd/grafana.env

User=0:0
Volume=./grafana.conf.d/provisioning/datasources:/etc/grafana/provisioning/datasources:Z
Volume=grafana_data.volume:/var/lib/grafana:Z

PublishPort=127.0.0.1:1200:3000

Network=10_26_0_1.network:ip=10.26.12.0

PodmanArgs=--cpus=4
PodmanArgs=--memory=4g
PodmanArgs=--memory-reservation=256m

LogDriver=journald

HealthCmd=wget --no-verbose --tries=1 --spider http://127.0.0.1:3000/api/health
HealthStartPeriod=30s
HealthInterval=60s
HealthTimeout=5s
HealthRetries=3

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
