[Unit]
Description=Memos container service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/neosmemo/memos:stable

ContainerName=memos

StopTimeout=10

EnvironmentFile=%h/.config/containers/systemd/memos.env

User=0:0
Volume=memos_data.volume:/var/opt/memos:Z

PublishPort=127.0.0.1:1090:5230

Network=10_26_0_1.network:ip=10.26.10.90

PodmanArgs=--cpus=1
PodmanArgs=--memory=1g
PodmanArgs=--memory-reservation=16m

LogDriver=journald

HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:5230/healthz
HealthInterval=60s
HealthTimeout=5s
HealthRetries=3

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
