TZ=Asia/Shanghai

NTFY_BASE_URL=https://ntfy.example.com
NTFY_BEHIND_PROXY=true
NTFY_AUTH_FILE=/etc/ntfy/auth.db
NTFY_CACHE_FILE=/etc/ntfy/cache.db
NTFY_WEB_PUSH_FILE=/etc/ntfy/web-push.db

#NTFY_DB_NAME=ntfy
#NTFY_DB_USER=ntfy
#NTFY_DB_PASSWORD=
