[Unit]
Description=Ntfy container service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/binwiederhier/ntfy:latest

ContainerName=ntfy

Exec=serve

StopTimeout=10

EnvironmentFile=%h/.config/containers/systemd/ntfy.env

Volume=ntfy_data.volume:/etc/ntfy:Z

PublishPort=127.0.0.1:1100:80

Network=10_26_0_1.network:ip=10.26.11.0

PodmanArgs=--cpus=1
PodmanArgs=--memory=256m
PodmanArgs=--memory-reservation=16m

LogDriver=journald

HealthCmd=wget --no-verbose --tries=1 --spider http://127.0.0.1:80/v1/health
HealthInterval=60s
HealthTimeout=5s
HealthRetries=3

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
