[Unit]
Description=RustFS (S3) container service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/rustfs/rustfs:1.0.0-rc.4

ContainerName=rustfs

StopTimeout=10

EnvironmentFile=%h/.config/containers/systemd/rustfs.env

Volume=rustfs_data.volume:/data:Z

PublishPort=127.0.0.1:1140:9000
PublishPort=127.0.0.1:1141:9001

Network=10_26_0_1.network:ip=10.26.11.40

PodmanArgs=--cpus=2
PodmanArgs=--memory=2g
PodmanArgs=--memory-reservation=32m

LogDriver=journald

HealthCmd=curl -fsS http://127.0.0.1:9000/health
HealthStartPeriod=10s
HealthInterval=60s
HealthTimeout=5s
HealthRetries=3

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
