[Unit]
Description=SearXNG container service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/searxng/searxng:2026.8.16-b2da6b90f

ContainerName=searxng

StopTimeout=10

EnvironmentFile=%h/.config/containers/systemd/searxng.env

User=977:977
Volume=./searxng.conf.d:/etc/searxng:U,Z
Volume=searxng_data.volume:/var/cache/searxng:U,Z

PublishPort=127.0.0.1:1120:8888

Network=10_26_0_1.network:ip=10.26.11.20

PodmanArgs=--cpus=2
PodmanArgs=--memory=2g
PodmanArgs=--memory-reservation=64m

LogDriver=journald

HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:8888/healthz
HealthStartPeriod=10s
HealthInterval=60s
HealthTimeout=5s
HealthRetries=3

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
