[Unit]
Description=Vaultwarden container service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/vaultwarden/server:latest

ContainerName=vaultwarden

StopTimeout=10

EnvironmentFile=%h/.config/containers/systemd/vaultwarden.env

Volume=vaultwarden_data.volume:/data:Z

PublishPort=127.0.0.1:1130:80

Network=10_26_0_1.network:ip=10.26.11.30

PodmanArgs=--cpus=1
PodmanArgs=--memory=1g
PodmanArgs=--memory-reservation=64m

LogDriver=journald

HealthCmd=["/healthcheck.sh"]
HealthStartPeriod=10s
HealthInterval=60s
HealthTimeout=5s
HealthRetries=3

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
