TZ=Asia/Shanghai

DOMAIN=https://vaultwarden.example.com
SIGNUPS_ALLOWED=false
WEB_VAULT_ENABLED=true
WEBSOCKET_ENABLED=true
ADMIN_TOKEN=
DATABASE_URL=/data/vaultwarden.db
LOG_FILE=/data/vaultwarden.log
